$gap: 10px;
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #ebecf0;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 4px;
$common-element-bg: rgba(255, 255, 255, 0.24);
$appbar-bg-color: #0067a3;
